.section_view{
  max-width: 100%;
  height: 820px;
  transform: translateX(-30%);
  display: flex;
  justify-content: space-between;
  background: no-repeat;
}

.section_view_paragraf{
  padding: 100px 0 0 0;
  height: auto;
  text-align: center;
  margin: auto 0;
  transform: translateX(50%);

  .section_view_paragraf_text{
    @extend %main_text_style;
    font-size: 40px;
    padding-bottom: 28px;
  }
}

.section_view_button{
  padding-top: 38px;

  :first-child{
    padding-left: 60px;
    padding-right: 60px;
  }

  .view_button{
    margin: 20px;
  }
}

.section_view_important{
  background: $color-yellow;
  padding: 25px;
  @extend %main_text_style;

  :first-child{
    font-size: 32px;
    padding-bottom: 7px;
  }
}