$color-background: #F0F1F1;
$color-2: #5E5322;
$color-yellow: #FAD648;
$color-4: #737373;
$color-text: #3C3C3C;
$color-black: rgba(25, 25, 25);

$font-base: 'Open Sans';
$font-alt: 'Merriweather', serif;

